* { margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.cont1{
    background: linear-gradient(to top, #000000,#202020,#404040);
    width: 100%;
    height: 76.4vh;
    margin-bottom: -50px;
}

#txtc1{
    color: white;
    font-size: 70px;
    font-optical-sizing: auto;
    font-weight: 600;
}

.cont_txt1{
    position: relative;
    display: flex;
    justify-content: center;
}

.cont_txt2
{
    margin-top: 50px;
    position: absolute;
    top: 250px;
    left: 60px;
    width: calc(100% - 110px);
    height: 500px;
}

.txtc2{
    color: white;
    font-size: 35px;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.txtc3{
    position: absolute;
    top: 75px;
    color: white;
    font-size: 35px;
    margin-bottom: 0px;
    text-decoration: underline;
    font-weight: 700;
}

.txtc4{
    position: absolute;
    top: 230px;
    color: white;
    font-size: 35px;
}

.cont_txt3{
    margin-top: 50px;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 250px;
    right: 130px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: flex-end;
    gap: 30px;
}


.cont_txt3 img {
    margin-left: 40px;
    width: 70px;
    height: 70px;
    float: right;
}

.cont2{
    position: absolute;
    top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;
}

.sub_cont{
    height: 100px;
    width: 100px;
}

