head {
    font-family: Arial;
}

body {
    font-family: Arial;
}

/****************
Estilos de la barra de navegación
*****************/
#logo {
    display: inline-block;
    margin-right: 3%;
    margin-left: 3%;
}

.image-container {
    display: flex;
    align-items: left; /* Align items vertically */
}

nav {
    width: 100%;
    font-family: Arial;
    font-weight: 500;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    background-color: var(dark var(--background));
}

#MO0 {
    font-size: x-large;
}

#MO1 {
    font-size: large;   
    display: inline-block;
    vertical-align: middle; 
    margin-bottom: 2px;
    text-decoration: underline;
}

#MO2{
  list-style: none;
  margin: 0;
  padding: 3%;
  display: flex;
  justify-content: space-between;
}

#MO3 {
  margin-right: 20px;
  margin-top: 0;
}

#MO {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #ecbd31;
}

#MO4 #menu-des {
    display: none;
}

#MO4:hover > #menu-des {
    display: block;
}

#menu-des {
    float:right ;
    text-align: center;
}

.menu-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
  }
  
  .menu-toggle i {
    font-size: 24px;
    color: #fff;
  }
  
  .menu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin-bottom: 10px;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  .menu a:hover {
    color: #ccc;
  }
  
  .menu.show {
    display: block;
  }
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

#idioma {
    text-align: center;
    float: right;
    margin-top: 30px;
    margin-right: 50px;
}

#idioma #menu-des {
    display: none;
}

#idioma:hover > #menu-des {
    display: block;
}

/****************
Aquí termina la barra de navegación
*****************/
#IS {
    font-weight: bold;
}

#barra2 {
    background-color:#3F4045 ;
    text-align: center;
    color: #fff;
    text-decoration: underline;
    font-size: xx-large;
}

#barra3 {
    background: linear-gradient(to bottom, #3F4045, #3F4045, #ffffff) ;
    text-align: center;
    color: #fff;
    text-decoration: underline;
    font-size: xx-large;
    height: 2.5cm;
}

#QS {
    width: 100%;
    height: auto;
    display: block;
}

#Cuerpo {
    height: 100vh; 
    margin: 0;
    padding: 0;
}

#Cuerpo-cat {
    background-color: #fff;
}

#Nosotros {
    background-color: #02111B;
}

#T1N
{
    margin-top: 40px;
    color: #fff;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 30px;
}

#T2N
{
    color: #fff;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 30px;
}

#T3N
{
    color: #fff;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 30px;
}

#T4N {
    color: #fff;
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
}

#T5N {
    color: #fff;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 30px;
    margin-right: 30px;
}

.contenedor2 {
    display: flex;
    align-items: center;
}

.contenedor3 {
    display: flex;
    align-items: center;
    gap: 10px;
}
  
#ubi, #insta, #tel {
    margin-right: 10px;
    width: 100px; 
    height: 100px;
}

#ubi {
    margin-left: 20px;
}

#insta #tel {
    margin-left: 0%;
}

.contenedor-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#imagen2 {
    width: 40%;
    height: 40%;
    margin-right: 20px;
}

#imagen3 {
    width: 100%;
    height: auto;
    display: block;
}

#imagen4 {
    width: 95%;
    height: 130%;
    margin-left: 20px;
}

.texto1 {
    font-size: small;
    margin-right: 0px;
}

.texto2 .texto3 {
    font-size: medium;
}

.texto2 {
    margin-left: 0;
}

.texto3 {
    margin-right: 0%;
    margin-left: 0px;
    padding-left: 0px;
}

#img-pie {
    width: 15%;
    height: 25%;
    display: block;
    margin: 0 auto;
}

.final {
    width: 100%;
    height: 3cm;
    background: linear-gradient(to bottom, #02111B, #02111b, #ffffff);

}

.HS-container {
    height: 350px;
    width: 80%;
    margin: 50px auto;
    background-color: #F5F1ED;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.HS-container:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.HG-container {
    height: 400px;
    width: 80%;
    margin: 50px auto;
    background-color: #F5F1ED;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.HG-container:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.S-container {
    height: 400px;
    width: 90%;
    margin: 50px auto;
    background-color: #F5F1ED;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.S-container:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.title {
    font-size: 80px;
    font-weight: 80;
    margin-left: 140px;
    margin-bottom: 20px;
}

.contenido {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.bed-icon {
    display: inline-block;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 0;
    padding-right: 0;
    overflow: hidden; 
}

.bed-icon img {
    float: left;
    width: 50%;
    height: 50%;
    fill: #333;
    margin-right: 0;
    padding-right: 0;
    overflow: hidden; 
}

.detalles {
    margin-bottom: 20px;
    margin-right: 200px;
}

#txtd1 {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}

#txtd2 {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}

#txtd3 {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}

.detalles h3 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.detalles ul {
    list-style: disc;
    margin-left: 20px;
}

.detalles li {
    margin-bottom: 5px;
    font-size: 18px;
}

.people-icon {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 200px;
    right: 300;
}

.people-icon img {
    width: 120px;
    height: 120px;
    fill: #333;
}

.all {
    background-color:#F5F1ED ;
    width: 100%;
    height: 40vh;
}

#politics {
    background-color:#ffffff ;
    width: 100%;
    height: 100vh;
}


@layer base {
	:root {
		--background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 5.9% 10%;
        --radius: 0.5rem;
		
    }
	.dark {
		--background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
	}
}

#Bienvenida {
    background: linear-gradient(to top, #333333, #ffffff, #ffffff, #ffffff, #f3f3f3, #000000);
    width:100%;
    height:955px;
}


.img_hotel
{
    
    z-index: -1;
}

#cont1
{
    width: 100%;
    height: 400;
    position: absolute;
    top: 260px;
    
    z-index: 1;
}

.txt
{
    color: white;
}

#txt1
{
    margin-left: 5%;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    
    top: 320px;
}

#txt2
{
    margin-left: 5%;
    font-style: normal;
    font-weight: 100;
    font-size: 110px;
    top: 300px;
}

#txt3
{
    margin-left: 5%;
    font-style: normal;
    font-weight: 200;
    font-size: 35px;
    
    top: 300px;
}

.img_deg
{
    
    top: -4px;
    z-index: -1;
}

.cont2
{
    position: absolute;
    width: 100%;
    height: 755px;
    top: 1300px;
    
}

#txt4
{
    margin-left: 5%;
    font-style: normal;
    font-weight: 200;
    font-size: 110px;
}

#txt5
{
    
    font-style: normal;
    font-weight: 200;
    font-size: 40px;
    margin-left: 5%;
    
}

.cont3
{
    width: 100%;
    height: 955px;
    background-color: #333333;
    
    text-align: center;
    top: -55px;
    z-index: -1;
}

.scont
{
    width: 30%;
    height: 50%;
    
    top: 130px;
    display: inline-block;
    z-index: 1;
}

#promo1
{
    text-align: center;
    background-image: url(yate2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px; /* radio de la esquina de la imagen */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* sombra de la imagen */
}

#promo2
{
    text-align: center;
    background-image: url(rest2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px; /* radio de la esquina de la imagen */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* sombra de la imagen */
}

#promo3
{
    text-align: center;
    background-image: url(malecon2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px; /* radio de la esquina de la imagen */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* sombra de la imagen */
}

#promo4
{
    text-align: center;
    background-image: url(Fachada.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px; /* radio de la esquina de la imagen */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* sombra de la imagen */
}

#promo1:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

#promo2:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

#promo3:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

#promo4:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}


.promotxt
{
    margin-left: 25px;
    margin-top: 10%;
    position: relative;
    margin-bottom: 0px;
    color: white;
    font-size: 40px;
    
}

#txt6
{
    color:white;

    font-style: normal;
    font-weight: 100;
    font-size: 70px;
    position: center;
    top: 50px;
}

#txt7
{
    font-weight: bold;
    text-decoration: underline;
    color:white;
    font-style: normal;
    font-size: 34px;
    float: right;
    top: 145px;

    margin-right: 100px;
}

.img_deg2
{
    
    top: -55px;
    z-index: -1;
}

.scont2
{
    background-color: white;
    border: 2px solid black;
    width: 450px;
    height: 610px;
    
    top: 10px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.cont4
{
    
    text-align: center;
    top: -1000px;
    z-index: -1;
}

#txt8
{
    color:black;

    font-style: normal;
    font-weight: 100;
    font-size: 70px;
}

#hab1
{
    
    
    z-index: 1;
    text-align: center;
}

#Alojamiento-G {
    
    height: 800px; 
    width: 100%;
}

#AG {
    color: #000;
    font-weight: 110;
    font-size: 90px;
    text-align: center;
}

.container-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 50px auto;
    max-width: 900px;
}

.slider-track {
    display: flex;
    width: 500%;
    height: 100vh;
    transition: transform 0.5s ease-in-out;
    height: 300%;
}

.slide {
    width: 20%;
    height: 500px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.slide img {
    width:100% ;
    height: auto;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

.pagination {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.pagination li {
    list-style: none;
    margin: 0 5px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.pagination li.active {
    background-color: #fff;
    color: black;
}

.slider-track .slide {
    position: relative;
}
  
.slider-track .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.slider-track .slide .texto-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.5s;
}
  
.slider-track .slide:hover .texto-hover {
   opacity: 1;
}

.container-f {
    background: linear-gradient(to bottom, #000000, #000000, #000000, #000000, #000000, #000000, #ffffff);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 600px; 
    width: 100%;
}

#TF {
    text-align: center;
    font-size: 40px;
    background-color: #000;
    color: #fff;
}
  
.box {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    position: relative;
}
  
.box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#logo-in {
    margin: 0 auto;
    display: block;
    width: 60%;
    height: 30vh;
    object-fit: contain;
}

#box-l {
    width: 300px;
    height: 400px;
    margin: 10px;
    border: 1px solid #ccc;
    position: relative;
}
  
.box .text {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: bold;
    text-align: center;
}

.txt9
{
    font-size: 33px;
    top: 25px;
}

.img_deg3
{
    top: 148px;
    z-index: -1;
}

/**aquí inicia los diseños de ubicación**/
.ubi_part1
{
    display:flex;
    margin: auto;
    background: linear-gradient(to top, #000000,#202020,#404040);
    width: 100%;
    height: 50%;
}
#ubi_map
{
    display: flex;
    margin: 5px;
    -moz-border-radius: 10%;
    -webkit-border-radius: 10%;
    border-radius: 10%;
}
#ubi_foto1
{
    display: flex;
    margin: 5px;
}
.ubi_part1-1
{
    margin: auto;
    display: flex;
    width: 17%;
    height: 565px;
    justify-items: start;
}
.ubi_part1-2
{
    margin: auto;
    margin: 5px;
    width: 64%;
    height: 565px;
    justify-items: center;
}
.ubi_part1-3
{
    margin: auto;
    display: flex;
    width: 17%; 
    height:565px;
    justify-items: end;
}
#ubi_text1
{
    font-family: Arial;
    font-size: 28px;
    color: #ffffff;
    text-align: center;
    margin: 15px;
}

#ubi_Ttext1
{
    font-family: Arial;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    -webkit-text-stroke: 4px rgba(255, 255, 255, 0.37);
}

#barra10
{
    background: linear-gradient(to top, #252525,#404040,#626262);
    font-family: Arial;
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    text-decoration: underline;
}
.ubi_part2
{
    display: flex;
    flex-direction: column;
    margin: auto;
    background: linear-gradient(to top, #ffffff,#959595,#606060, #4e4e4e);
    width: 100%;
    height: 700px;
}
.ubi_part2-1
{
    background: linear-gradient(to top, #ffffff,#ffffff,#ffffff,#ffffff,#ffffff, #000000);
    width: 100%;
    height: 190vh;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.utxt1 {
    font-size: 20px;
    font-weight: 600;
    width: 45%;
    padding: 10px;
    text-align: left
}

.utxt2 {
    list-style: circle;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    width: 45%;
    padding: 10px;
}

.utxt3 {
    font-size: 20px;
    font-weight: 600;
    text-align: right;
    width: 45%;
    padding: 10px;
}

#uTtxt1
{
    font-family: Arial;
    font-size: 20px;
    color: #000000;
    text-align: center;
    font-weight: 1000;
    -webkit-text-stroke: 2px rgba(116, 116, 116, 0.37);
}

#uTtxt2
{
    font-family: Arial;
    font-size: 20px;
    color: #000000;
    text-align: center;
    font-weight: 1000;
    -webkit-text-stroke: 2px rgba(116, 116, 116, 0.37);
}

#uTtxt3
{
    font-family: Arial;
    font-size: 20px;
    color: #000000;
    text-align: center;
    font-weight: 1000;
    -webkit-text-stroke: 2px rgba(116, 116, 116, 0.37);
}

.ubi_part2-2
{
    background: linear-gradient(to bottom, #ffffff,#ffffff,#ffffff,#ffffff,#ffffff,#ffffff,#ffffff, #f3f3f3);
    width: 100%;
    height: 70vh;
}

.galeria {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.galeria img {
    width: 18%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.galeria img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

/**aquí termina los estilos de ubicación**/

/** estilos de ofertas 1-4 **/
.o-des {
    width: 100%;
    height: 80vh;
    background: linear-gradient(to bottom, #ffffff,#ffffff,#ffffff,#ffffff,#ffffff, #000000);
}

.o-des h1 {
    text-align: center;
    font-size: 70px;
}

.o-des p {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 30px;
}

/** fin de ofertas**/
=======

