
.img_hotel
{
    position: relative;
    z-index: -1;
}

#cont1
{
    width: 1200px;
    height: 400;
    position: absolute;
    top: 260px;
    
    z-index: 1;
}

.txt
{
    color: white;
}

#txt1
{
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    position: relative;
    top: 320px;
}

#txt2
{
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 110px;
    position: relative;
    top: 350px;
}

#txt3
{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 35px;
    position: relative;
    top: 400px;
}

.img_deg
{
    position: relative;
    top: -4px;
    z-index: -1;
}

.cont2
{
    position: absolute;
    width: 1860px;
    height: 755px;
    top: 1300px;
    
}

#txt4
{
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 110px;
}

#txt5
{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 40px;
    position: relative;
    top: 20px;
}

.cont3
{
    width: 1860px;
    height: 955px;
    background-color: #333333;
    position: relative;
    text-align: center;
    top: -55px;
    z-index: -1;
}

.scont
{
    width: 570px;
    height: 570px;
    position: relative;
    top: 130px;
    display: inline-block;
    z-index: 1;
}

#promo1
{
    background-image: url(rest2.jpg);
    background-size: cover;
    background-position: center;
}

#promo2
{
    background-image: url(yate2.jpg);
    background-size: cover;
    background-position: center;
}

#promo3
{
    background-image: url(malecon2.jpg);
    background-size: cover;
    background-position: center;
}

.promotxt
{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 40px;
    position: relative;
    top: 410px;
}

#txt6
{
    color:white;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 70px;
    position: relative;
    top: 50px;
}

#txt7
{
    color:white;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 34px;
    position: relative;
    top: 145px;
    
}

.img_deg2
{
    position: relative;
    top: -55px;
    z-index: -1;
}

.scont2
{
    background-color: white;
    border: 2px solid black;
    width: 450px;
    height: 610px;
    position: relative;
    top: 10px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.cont4
{
    position: relative;
    text-align: center;
    top: -1000px;
    z-index: -1;
}

#txt8
{
    color:black;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 70px;
}

#hab1
{
    position: relative;
    
    z-index: 1;
    text-align: center;
}

#hab3
{
    position: relative;
    
}

.txt9
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 33px;
    position: relative;
    top: 25px;
}

.img_deg3
{
    
    top: 148px;
    
    z-index: -1;
}

.cont5
{
    position: relative;
    text-align: center;
    top: -600px;
    z-index: -1;
}
.scont3
{
    height: 370px;
    width: 350px;
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}

#txt10
{
    color: white;
    position: relative;
    top: -120px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 50px;
}
.txt_extras
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    position: relative;
    top: 70px;
}

.img_extras
{
    position: relative;
    top: 50px;
}